.scroll span {
    --flag: clamp(0, calc(var(--status) - var(--percent)), 1);
    --opacity: calc(var(--flag) + 0.125);
    opacity: var(--opacity);

    transition: opacity 0.5s ease-in-out;
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 3em;

    height: 300vh;
    padding: 0 40px;
    margin-right: 240px;
}

.scroll>div {
    position: sticky;
    color: white;
    top: 3em;
}
